/* Stylesheet for Evidence 3 */

html body {
	vertical-align: top;
	margin: 0;
	padding: 0;
	color:white;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"; /* Font for the text */
	font-weight:30; /* Weight for the text */
	font-size: 1em;
	background-color: black;
}

h1, h2, h3, h4, h5, h6 {
	vertical-align: top;
	color:white; /* Color for headers */
	font-weight:30; /* Weight for headers */
}

header, section {
	vertical-align: top;
	max-width: 1200px;
	margin: 0 auto;
}

ul li {
	vertical-align: top;
	display: inline-block;
	padding: 5px;
}
nav a {
	text-decoration: none;
	color:hotpink; /* Color for the text on navigation */
}
